/* MOBILE */
/* Max-width: 480px */

.wrapper {
    padding: 0 1.5rem;
}

.hamburger-inner {
    padding: 7rem 1.5rem 2.5rem 1.5rem;
}

.hamburger-nav ul {
    margin: 0;
}

/* INTRODUCTION */

.introduction {
    padding: 3rem 1.5rem;
}

.introduction p {
    font-size: 1.3rem;
}

.text-break {
    display: none;
}

/* PROJECTS */

h2 {
    font-weight: 1.2rem;
}

.project-image {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.project-buttons button {
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.project-button {
    padding: 0.3rem 1rem;
}

/* ABOUT */

.about {
    padding: 0 0 3rem 0;
}

.about-section img {
    width: 60%;
    align-self: center;
}

.about-section h3 {
    font-size: 1.3rem;
}

/* INFORMATION CONTAINERS */

.information-container {
    padding: 1rem;
}

.information-box {
    flex-direction: column-reverse;
}

.information-box > div {
    align-self: flex-end;
}

.information-box > h4 {
    margin: 0.3rem 0;
    align-self: flex-start;
}

.max-height {
    max-height: 75vw;
}

/* FOOTER */

.footer-inner {
    padding: 2.5rem 1.5rem;
    flex-direction: column;
}

.footer-inner h5 {
    margin: 0 0 1rem 0;
}
