/* TABLET LARGE */
/* Max-width: 1024px */

/* ------ INDEX.HTML ------ */
.wrapper {
    padding: 0 4rem;
}

.hamburger-inner {
    padding: 8rem 4rem 4rem 4rem;
}

.introduction p {
    font-size: 1.6rem;
}

.footer-inner {
    padding: 2rem 4rem;
}

/* ------ PROJECT PAGES ------ */

.project-intro {
    flex-direction: column-reverse;
    padding: 0;
}

.project-intro-image {
    width: 100%;
    margin: 2.5% 0;
}

.project-intro-text {
    width: 100%;
    padding: 2rem 0;
}