/* TABLET SMALL */
/* Max-width: 768px */

.projects {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    column-gap: 1rem;
}

.project-container {
    margin: 0.5rem 0;
    width: 100%;
}

h2 {
    font-size: 2rem;
}

.project-button {
    font-size: 1.2rem;
}