/* TABLET SMALL */
/* Max-width: 768px */

.wrapper {
    padding: 0 4rem;
}

.projects {
    column-count: 1;
    -webkit-column-count: 1; /* Ch, Saf, And, BB  */
    -moz-column-count: 1; /* Fx */

    column-gap: 1rem;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
}