/* TABLET LARGE */
/* Max-width: 1024px */


/* MENU */

.header-nav, .right-side-menu {
    display: none;
}

.left-side-menu {
    padding: 2.5rem 0;
}

.hamburger {
    display: flex;
}

/* INTRODUCTION */
.introduction {
    width: 100%;
}

.introduction img {
    width: 10rem;
    margin-right: 2rem;
    border-radius: 100%;
}

.profile-text {
    font-size: 1.3rem;
}